* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
}

.display-auth {
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-auth {
    background: rgb(29, 23, 147);
    background: linear-gradient(
        90deg,
        rgba(29, 23, 147, 1) 14%,
        rgba(19, 19, 85, 1) 57%,
        rgba(23, 80, 92, 1) 99%
    );
    color: #fff;
}

.btn-login {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
